# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Specific
models/*.msgpack
models/*.pth
data/*.npz
!data/walk_arm_direct.npz
MUJOCO_LOG.TXT
outputs/

# IDEs
.vscode/
.idea/
.project
.pydevproject
.settings/
*.swp
*.swo
